// ion-content {
//     background-image: url("assets/imgs/bg.jpg");
// }
page-about{
.data{
    background: url(../assets/imgs/data.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    overflow: hidden;
}
}